@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0px;
}

:root {
    --primary-color: #FF9933;
    --grey-color: black;
    --of-white: peachpuff;
}

hr {
    margin: 2rem 0rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
}

.container-center-blog {
    max-width: 1000px;
    margin: auto;
}

.links {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
}

.link-active {
    font-weight: bolder;
    font-size: large;
}

.links-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    margin-top: 2rem;
}

.links .links-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    margin-top: 2rem;
}

.links-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    margin: auto;

}


.list-non-bullet {
    list-style: none;
    margin: auto;

}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.list-non-bullet .list-gap {

    margin-top: 3rem;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .link {

    color: white;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: x-large;


}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
    padding-top: 5rem;
    margin-top: 5rem;

}

.hero .hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.hero-img-blog {
    width: 70%;
    display: block;
    margin: 2rem auto;
    height: 20rem;

}

.hero .hero-heading {
    text-align: center;
    color: var(--grey-color);

    padding: 1rem;

}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    text-align: center;
    padding: 2rem ;
    max-width: 80%;
    margin: auto ;
    border-radius: 2rem;
    border-width: 10px;
    border-color: black;

}

.ow {
    background-color: var(--of-white);
   

}

.footer {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 2rem 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;

}

.footer .links {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;

}

.footer .footer-header {
    font-size: large;
    font-weight: bold;
}


.socialIcon {
    display: inline-block;
    block-size: 2rem;
    margin-top: 1rem;
}

p {
    font-size: large;
}

ol li {
    margin-right: 2rem;
}
ol .ow {
    margin-right: 2rem;
}